version: '3.8'

services:
  planok-client:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
      - "24678:24678"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0
